.nav
	position: fixed
	width:100%
	height:90px
	padding:3em
	z-index: 2
	background: #000

	a
		color: #fff

	ul
		display: flex

		li:last-child
			margin-left: 72%

		li:not(last-child)
			margin-left: 2.4em

			:hover
				color: #ccc

.vercarrito
	position: fixed
	width:360px
	height: 600px
	z-index: 2 !important
	left: 70%
	top: 100px

.clsvercarrito
	display: none