<div class="nav">
	<ul>
		<li>
			<a routerLink="/galeria">Inicio</a>
		</li>
		<li>
			<a routerLink="/cta">CTA</a>
		</li>
		<li>
			<a routerLink="/psm">PSM</a>
		</li>
	
		<li><a target="_blank" href="ofertasInternet.jsp">Ofertas en internet</a></li>
		<li><a (click)="abrirCarrito()" class="secondary-content"><i class="material-icons">shopping_cart</i>3</a></li>
	</ul>
</div>
<div class="vercarrito clsvercarrito" id="idvercarrito">
	<app-carrito></app-carrito>
</div>
<router-outlet></router-outlet>  