<main>
<p>hola</p>
<!--
<form (ngSubmit)="submit1()" novalidate>
<input type="text" placeholder="Simple Input" name="nom" [(ngModel)]="bn.nom">
<button type="submit">Click</button>
</form>
-->
</main>