<main>
	<div id="idPanelPago" class="miPanel">
	  <div class="" style="width:300px !important; margin:0 auto !important; margin-top:6em !important;">
	    <div class="col s6">
	      <ul class="tabs">
	        <li class="tab col s3"><a (click)="selection(1)">Login</a></li>
	        <li class="tab col s3"><a (click)="selection(2)">Registro</a></li>
	      </ul>
	    </div>
	    <div [ngSwitch]="tab">
	    	<div  class="col s12" *ngSwitchDefault>
		    <input type="text"  placeholder="Correo"/>
			<input type="password" placeholder="Password"/>
			<button ng-click="muestraDatos()" class="btn-small">Autentificar</button>
			<div id="datosUsu" >
			<p>Nombre: Nombre</p>
			<p>Direccion: Direccion</p>
			<button class="btn-small">Pagar</button>
			</div>
	    </div>
	    <div class="col s12" *ngSwitchCase="2">
	    <input type="text" ng-model="txtCorreoa" placeholder="Correo"/>
			<input type="password"  placeholder="Password"/>
			<input type="password" placeholder="Password"/>
			<input type="text"  placeholder="Nombre"/>
			<input type="text"  placeholder="Direccion"/>
			<button  class="btn-small">Registrar</button>
	    </div>
	    </div>
	  </div>
	</div>
</main>